@import "../variables";

.Basket {
  h1 {
    text-align: center;
    padding: 20px 0;
    color: $darkBrown2;
  }
  padding: 20px 40px;
  section {
    display: flex;
  }
  .detailProduct {
    flex: 1;
    border: 1px gray solid;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    article {
      display: flex;
      align-items: center;
      .product-image {
        width: 140px;
        min-width: 140px;
        height: 140px;
        min-height: 140px;
        margin-right: 15px;

        img {
          overflow: hidden;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      h5,
      h6,
      p {
        padding: 15px 0;
        color: $darkBrown3;
      }

      .Box1,
      .Box2 {
        flex: 1;
      }
      .quantity-controls {
        display: flex;
        align-items: center;
        p {
          padding: 0 10px;
        }
        button {
          width: 24px;
          height: 24px;
          .icon {
            font-size: 12px;
          }
        }
      }
    }
  }

  button {
    background-color: $clearBrown1;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $clearOrange1;
    }
  }

  @media (max-width: 900px) {
    section {
      flex-direction: column;
    }
    .detailProduct {
      margin-right: 0px;
      margin-bottom: 20px;

      article {
        .product-image {
          width: 100px;
          min-width: 100px;
          height: 100px;
          min-height: 100px;
        }
        .Box2 {
          flex: inherit;
          text-align: center;
        }
      }
    }
  }
}
