$clearPink1: #ede8ea;
$clearGray1: #d9d9d9;
$clearGray2: #dcdcdc;
$clearPink2: #e8d9df;

$clearBrown1: #9e7952;
$clearBrown2: #a3968a;
$clearBrown3: #d1ccc0;
$clearOrange1: #e89561;

$darkBrown1: #2b211d;
$darkBrown2: #503530;
$darkBrown3: #61544a;

$darkGray1: #545454;
$darkGray2: #a6a6a6;
$darkPink1: #e4a2a2;
$darkRed1: #cb2c2c;
