body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: url("../Fonts/Poppins.ttf"), sans-serif;
  font-weight: bold;
}
p,
pre,
form,
input,
li {
  font-style: italic;
  font-family: url("../Fonts/Roboto.ttf"), "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: url("../Fonts/Roboto.ttf"), "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 8px;
  border: 1px solid gainsboro;
}
