@import "../../variables";

.LivraisonForm {
  min-width: 350px;
  .Total,
  .delivery {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid gray;
  }
  .delivery {
    .new-address {
      h6 {
        padding-top: 20px;
        padding-bottom: 40px;
      }
    }
  }
  p,
  .adresse-item,
  .choix-delivery {
    padding-top: 10px;
  }

  button {
    margin-top: 20px;

    margin-top: 20px;
    text-align: center;
    position: relative;
    left: 50%; /* Positionne le bouton à 50% de la largeur */
    transform: translateX(-50%);
  }
  .error {
    text-align: center;
    color: $darkRed1;
  }

  @media (max-width: 900px) {
  }
}
.PaymentBox {
  margin: auto;
  padding: 30px 20px;
  border: 1px solid $darkBrown1;
  border-radius: 20px;

  button {
    margin-top: 20px;

    margin-top: 20px;
    text-align: center;
    position: relative;
    left: 50%; /* Positionne le bouton à 50% de la largeur */
    transform: translateX(-50%);
  }
}
