/* Styles par défaut pour mobiles */
:root {
  --font-size-h1: 24px;
  --font-size-h2: 22px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;
  --font-size-p: 14px;
  --font-size-button: 13px;
}

/* Styles pour grands mobiles ou petites tablettes (481px) */
@media screen and (min-width: 481px) {
  :root {
    --font-size-h5: 16px;
    --font-size-h6: 15px;
    --font-size-p: 15px;
    --font-size-button: 15px;
  }
}

/* Styles pour tablettes (769px) */
@media screen and (min-width: 769px) {
  :root {
    --font-size-h5: 16px;
    --font-size-h6: 15px;
    --font-size-p: 15px;
    --font-size-button: 15px;
  }
}

/* Styles pour ordinateurs de bureau et portables (1025px) */
@media screen and (min-width: 1025px) {
  :root {
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 28px;
    --font-size-h4: 24px;
    --font-size-h5: 22px;
    --font-size-h6: 20px;
    --font-size-p: 18px;
  }
}

/* Styles pour les grands écrans (1441px) */
@media screen and (min-width: 1441px) {
  :root {
    --font-size-h1: 48px;
    --font-size-h2: 40px;
    --font-size-h3: 32px;
    --font-size-h4: 28px;
    --font-size-h5: 24px;
    --font-size-h6: 22px;
    --font-size-p: 20px;
  }
}

/* Styles pour projecteurs ou très grands écrans (1921px) */
@media screen and (min-width: 1921px) {
  :root {
    --font-size-h1: 80px;
    --font-size-h2: 40px;
    --font-size-h3: 28px;
    --font-size-h4: 24px;
    --font-size-h5: 22px;
    --font-size-h6: 20px;
    --font-size-p: 18px;
    --font-size-button: 16px;
  }
}

/* Application des variables SCSS */
h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-p);
}

button {
  font-size: var(--font-size-button);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
